{% extends 'base.html' %} {% load crispy_forms_tags %}
<!--  -->
{% block title %} Add {% endblock %}
<!--  -->
{% block body %}
<!--  -->
{% include 'partials/sidebar.html' %}
<!--  -->
{% if success %}
<div class="alert alert-dismissible alert-success">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <strong>Well done!</strong> Added successfully !!
  <a href="{% url 'indexpc' %}" class="alert-link">Go back to Home ? </a>.
</div>
{% else %}

<!-- <div class="alert alert-dismissible alert-danger">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>

  {% if messages %}
  <p>
    {% for message in messages %}
    <strong>{{ message }}</strong>
    {% endfor %}
  </p>
  {% endif %}

  <!-- <a href="#" class="alert-link">Change a few things up</a> -->
<!-- </div> -->
<div class="container d-flex justify-content-center align-items-center h-90">
  <div class="card col-lg-4 col-md-6 col-sm-8 col-xs-12 mx-auto">
    <div class="card-header text-center">
      <strong
        >Add Product {% if messages %}
        <p class="alert alert-dismissible alert-danger">
          {% for message in messages %}
          <strong>{{ message }}</strong
          ><button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
          ></button>
          {% endfor %}
        </p>
        {% endif %}</strong
      >
    </div>

    <div class="card-body">
      <form method="post">
        {% csrf_token %} {{ form|crispy }}
        <button type="submit" class="btn btn-primary btn-block">
          Add Product
        </button>
        <a href="{% url 'indexpc' %}" class="btn btn-danger btn-block"
          >Cancel</a
        >
      </form>
    </div>

    <div class="card-footer"></div>
  </div>
</div>
{% endif %}
<!--  -->
{% endblock %}
