{% extends 'base.html' %} {% load static %} {% block title %}Child
Page{%endblock %} {% block body %} {% include 'partials/sidebar.html' %}

<div
  class="container d-flex justify-content-center align-items-center min-vh-90 mt-3"
>
  <div class="card col-md-4 col-sm-6 col-xs-12">
    <div class="card-header text-center">Update Products</div>
    <div class="card-body">
      <form action="" method="POST">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Update</button>
        <button href="{% url 'indexpc' %}" class="btn btn-secondary">
          Cancel
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
